html,
body {
  font-family: Arial, Helvetica, sans-serif;
  
  background-color: #333;
  color: white;
}

.link{
  cursor: pointer;
}

a:visited {
  color: #add500;
}

.img-home{
  cursor: pointer;
}

.logo{
  text-align: center;
  margin: 20px 0;
}

input {
  font-size: 1.3rem;
  width: 50%;
  color: #333;
  outline: 0;
  border-radius: 5px
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu a {
  color: #add500;
}

/* Estilos css pinteres */
:root {
  --results-columns: 2;
}

.card-grid {
  column-count: var(--results-columns);
  column-gap: .5em;
}

.card {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  background-color: #333;
  display: inline-block;
  width: 100%;
}

@media(min-width: 600px){
  :root {
      --results-columns: 3;
  }
}

@media(min-width: 800px){
  :root {
      --results-columns: 4;
  }
}

.card img {
  max-width: 100%;
}
/* fin de estilos printeres css */


.menu-gif {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0
}

@media(max-width: 500px){
  html, body {
    padding: 0;
  }
}